<div class="flex-container">
    <div class="black-bg">
        <h3>Sua jornada migratória para Portugal<br /> em minutos</h3>
        <h4>Responda a algumas perguntas para nos ajudar a<br /> criar a sua nova jornada</h4>
        <br />
        <div class="container-line">
            <div class="container">
                <div style="display: flex; align-items: center;">
                    <div class="circle-border">
                        <span style="font-size: 30px;">1</span>
                    </div>
                    <div>
                        <h3>Tipo de Jornada</h3>
                        <h4>Escolha sua jornada. Não tem certeza? Nós<br /> o ajudaremos a escolher</h4>
                    </div>
                </div>
            </div>
            <div class="dotted-line"></div>
        </div>
        <br />
        <div class="container-line">
            <div class="container">
                <div style="display: flex; align-items: center;">
                    <div class="circle-border1">
                        <span style="font-size: 30px;">2</span>
                    </div>
                    <div>
                        <h3>Escolha o Perfil</h3>
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="dotted-line"></div>
        </div>
        <br />
        <div class="container-line">
            <div class="container">
                <div style="display: flex; align-items: center;">
                    <div class="circle-border1">
                        <span style="font-size: 30px;">3</span>
                    </div>
                    <div>
                        <h3>Acessar a Plataforma</h3>
                        <h4>Crie uma conta na plataforma e acesse<br />agora mesmo a sua jornada</h4>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container text-center">
            <div class="row">
                <div class="col-xl">
                    <button type="button" class="btn btn-outline-light">Próxima<br />Etapa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="black-bgf">
        <h3>Estrutura da Jornada</h3>
        <h4>Escolha o tipo de jornada mais adequada para você.</h4>
        <div class="content-wrapper">
            <div class="content-container">
                <div class="recommended">Recomendada</div>
                <div class="content-box">
                    <h3>Precisa de ajuda?</h3>
                    <p>Conheça os diferentes vistos</p>
                </div>
            </div>
            <div class="content-container">
                <div class="content-box">
                    <h3>Startup Visa</h3>
                    <p>Visto para empreendedor em Portugal através de uma startup.</p>
                </div>
            </div>
            <div class="content-container">
                <div class="content-box1">
                    <h3>Outras Residências</h3>
                    <p>Visto para profissionais, pesquisadores, estudantes, aposentados,<br /> investidores, empresários.</p>
                    <div class="brave-box">Brave</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-outline-warning content-container">Continuar</button>
            </div>
        </div>
    </div>
</div>